h1{
    font-size: 50px;
    font-family: "Pacifico";
    position: relative;
    overflow: hidden;
    

}
h1::after{
        content: "";
        position: absolute;
        width: 230px;
        height: 10%;
        left: 40% ;
        bottom: 55px;
        background-color: #fec260;
        transition: height 350ms;
        z-index: -1;
    }
    h1:hover::after{
        height: 20%;
    }
    h2{
        font-family: "Righteous", cursive;
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
        
      
    .Bbody{
    
        border-width: 2px 0 2px 0;
        border-style: dotted;
        border-color: #352e28;
        padding-top: 25px;
        padding-bottom: 25px;
    
    } 
    .allsec{
        background-color: antiquewhite;
        z-index: 3;
    }
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #d99c39;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #fec26055;
    }
    .btn-danger{
        
        
            --bs-btn-color: #fff;
            --bs-btn-bg: #d1512d;
            --bs-btn-border-color: #d1512d;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #bb4120;
            --bs-btn-hover-border-color: #a03315;
        }

        .btn-visit{
            color: white;
            background-color: #9eb23b;
            border-color: #9eb23b;
            
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;

        }

       .btn-delete {
            --bs-btn-color: #fff;
            --bs-btn-bg: #eb1d36;
            --bs-btn-border-color: #eb1d36;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #d30820;
            --bs-btn-hover-border-color: #ba081d;
        }
    

  

